
    h1,h2{
        color : rebeccapurple
      } 
     
    .header *
    {
        background-color: rgb(blueviolet);
        display : flex;
        justify-content: center;
        
    }

    .item
    {
            background-color: rgb(16, 233, 233);

    }

    .item2
    {
            background-color: hotpink

    }

    .item3
    {
            background-color: orangered

    }

    .item4
    {
            background-color: burlywood

    }

    .item5
    {
            background-color:greenyellow

    }
    .grid
    {
        background-color: blueviolet;
        display:flex;
        flex-wrap : wrap;
        justify-content: flex-end;
    }

    .footer
    {
        
        display:flex;
        justify-content: flex-end;
    
    }

    p
    {
        color: darkgoldenrod;
        text-align: center;
    }